// Colors
$main-color: #FF9900;
$border-color: #BCD0E5;
$text-color :#2F281E;

// Global Style
$main-width: 1122px;
$default-gap: 15px;

// Fonts
$main-font-size:19px;
$main-font-line-height:1.684;
$main-font-text:'Lato';
$main-font-title:'Red Hat Display';

$path-fonts: '../fonts/';

$beack-points: ("lg": 1200px,
    "md": 992px,
    "sm": 768px,
    "xs": 576px);
