@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v26-latin-regular.eot');
    src: local(''),
         url('../fonts/open-sans-v26-latin-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-v26-latin-regular.woff2') format('woff2'),
         url('../fonts/open-sans-v26-latin-regular.woff') format('woff'),
         url('../fonts/open-sans-v26-latin-regular.ttf') format('truetype'),
         url('../fonts/open-sans-v26-latin-regular.svg#OpenSans') format('svg');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v26-latin-700.eot');
    src: local(''),
         url('../fonts/open-sans-v26-latin-700.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-v26-latin-700.woff2') format('woff2'),
         url('../fonts/open-sans-v26-latin-700.woff') format('woff'),
         url('../fonts/open-sans-v26-latin-700.ttf') format('truetype'),
         url('../fonts/open-sans-v26-latin-700.svg#OpenSans') format('svg');
}

body {
    width: 946.31px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Open sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.menu {
    width: 940.6px;
    padding-top: 22px;
    padding-bottom: 29px;
    font-weight: 400;
    border-bottom: 1px solid #070707;
}

.menu-list {
    list-style-type: none;
    display: flex;
    width: 50%;
    margin: 0 auto;
}

.menu-item {
    margin: 0 auto;
}

.menu-item a {
    font-size: 18px;
    text-decoration: none;
    color: #828282;
}

.menu-item a:hover {
    color: #070707;
}

.menu-list::after {
    content: '';
    clear: both;
    display: block;
}

h1 {
    text-align: left;
    font-size: 47px;
    font-weight: 700;
}

header {
    margin-bottom: 100px;
}

main {
    margin-bottom: 100px;
}

.aboutme {
    width: 480px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.skills {

    margin-bottom: 100px;
}

.gridwrap {
    width: 936.59px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col {
    margin: 0 auto 20px;
}

.col .col-text {
    margin: 0 auto  ;
    width: 101px;
    height: 50px;
    font-size: 18px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    color: #828282;
}

.col embed:first-child {
    margin-bottom: 30px;
}

.col embed:last-child {
    margin-top: 30px;
}
.gridwrap::after {
    content: '';
    clear: both;
    display: block;
}

.portfolio {
    margin-bottom: 100px;
}

.sourcer a {
    color: #070707;
}

.sourcer {
    margin-bottom: 136px;
}

footer {
    width: 340.82px;
    height: 411.33px;
    margin: 0 auto;
    text-align: center;
}


footer p{
    padding: 0;
    margin: 0 auto;
}

footer p:nth-child(3) {
    margin-bottom: 78px;
}

.sendbutn {
    margin-bottom: 37px;
}

.icon-menu-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 44px;
}

.icon-menu-item {
    display: inline-block;
    width: 23%;
    box-sizing: border-box;

}

.icon-menu-item input {
    display: block;
    margin: 0 auto;
}

.icon-menu-item:first-child input {
    margin: 0 100% 0 0;
}

.icon-menu-item:last-child input {
    margin: 0 0 0 50%;
}

footer p:last-child {
    color: #828282;
}
