.header {
    // border-bottom: $border-color;
    padding: 35px 0 30px;
    position: relative;

    &>.container::after {
        content: '';
        display: block;
        border-bottom: $border-color;
        position: absolute;
        width: 150%;
        top: 100%;
        left: 0;
        right: 0;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;


        @include media('sm') {
            justify-content: center;
            flex-wrap: wrap;
        }

        @include media('xs') {
            flex-direction: column;
            align-items: center;
        }

    }


}



.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include media('sm') {
        flex-wrap: wrap;
        flex-grow: 2;
    }

    &__item {
        margin-right: $default-gap;
    }

    &__item:last-child {
        margin: 0;
    }

    &__link {
        display: inline-block;
        color: $color-orange-dark;
    }
}
