// Colors
$color-black: black;
$color-red: red;

// BG Colors
$bg-body-color: $color-red;


$main-width: 1210px;

$default-gap: 15px;

$path-img: '../images/';

$default-font-name:'Poppins';
$path-fonts: '../fonts/';
