@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'),
        url('../fonts/roboto-v29-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/roboto-v29-latin-700.woff2') format('woff2'),
        url('../fonts/roboto-v29-latin-700.woff') format('woff');
}

* {
    transition: all .1s ease-in;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: #3399CC;
}

.block {
    margin: 0 auto;
    font-size: 0;
    padding-top: calc(10%);
    height: 100vh;
    border-top: 13px solid #2B81AC;
    border-bottom: 14px solid #2B81AC;
    border-left: 16px solid #2B81AC;
    border-right: 17px solid #2B81AC;
}

.weather-list {
    margin: 0;
    list-style-type: none;
    padding-inline-start: 0;
    width: 539px;
    margin: 0 auto;
}

.weather-list li {
    border-left: 3px solid #fff;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    padding: 16px 0 19px;
}

.weather-list a {
    margin: 0 auto;
    color: white;
    text-decoration: none;
}

.weather-list a span {
    color: rgb(255, 255, 255, .9);
    display: block;
    padding-top: 4px;
    font-size: 18px;
}

[class*="item"] {
    border-top: 3px solid #fff;
}

.weather-item-3,
.weather-item-7,
.weather-item-10,
.weather-item-11 {
    border-right: 3px solid #fff;
}


.weather-item-1,
.weather-item-9 {
    width: calc(60% - 6px);
}

.weather-item-2,
.weather-item-3,
.weather-item-8,
.weather-item-10 {
    width: calc(20% - 3px);
}


.weather-item-4,
.weather-item-5,
.weather-item-6,
.weather-item-7 {
    width: calc(25.41% - 6px);

}

.weather-item-11 {
    width: calc(100% - 6px);
    border-bottom: 3px solid #fff;

}

.weather-item-2 {
    background-color: #33CCCC;
}

.weather-item-3 {
    background-color: #996699;
}

.weather-item-4 {
    background-color: #C24747;
}

.weather-item-5 {
    background-color: #E2674A;
}

.weather-item-6 {
    background-color: #FFCC66;
}

.weather-item-7 {
    background-color: #99CC99;
}

.weather-item-8 {
    background-color: #669999;
}

.weather-item-9 {
    background-color: #CC6699;
}

.weather-item-10 {
    background-color: #339966;
}

.weather-item-11 {
    background-color: #666699;
}

.weather-list li:hover {
    background: rgba(0, 0, 0, 0.75);
    color: black;
}
