.footer-list__pad {
    padding: 23px 0;
    border-top: 1px solid $primery-grey;

    @include media('md') {
        padding-bottom: 3px;
    }
}

.footer-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    font-size: 14px;

    @include media('md') {
        justify-content: center;
        flex-wrap: wrap-reverse;
    }

    &__item {
        color: rgba($text-color, .6);

        @include media('md') {
            width: 50%;
            margin-bottom: 20px;
            text-align: center;
        }

        @include media('xs') {
            width: 100%;
        }

    }

    &__link {
        font-weight: normal;
        display: inline-block;
        color: $text-color;

        &:hover {
            text-decoration: underline;
        }

    }
}

.footer-list__link+.footer-list__link {
    margin-left: 32px;
}
