// Colors
$main-color: #85BBB1;
$border-color: #E5E5E5;
$text-color :#262A3F;
$btn-color:#F1897B;
$primery-grey:#E4E4E4;
$darck-theme-black:#161926;
$darck-theme-blue:#689FF2;
$darck-theme-green:#53F3CD;
$darck-theme-border:#515773;


// Global Style
$main-width: 1152px;
$default-gap: 15px;

// Fonts
$main-font-size:18px;
$main-font-line-height:1.44;
$main-font-text:'Lato';
$main-font-title:'Playfair Display';

$path-fonts: '../fonts/';

$beack-points: ("lg": 1200px,
    "md": 992px,
    "sm": 768px,
    "xs": 576px);
