@include font-face($main-font-name, 'rubik-v14-latin-regular');
@include font-face($main-font-name, 'rubik-v14-latin-700', 700);


.main-title {
    font-size: 50px;
    text-align: center;
    margin-top: $form-margin;
    margin-bottom: $form-margin;
    font-weight: 700;
}

.sprite {
    @include visuality-hidden;
}

.page {
    font-family: $main-font;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    background-color: $main-color;

}

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 $default-gap;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-$default-gap);
}

[class*="col-"] {
    padding: 0 $default-gap;
    box-sizing: border-box;
}

.col-1 {
    width: calc(100% / 12);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: 100%;
}
