.social-list {
    &__title {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__input {
        @include checked-input('fasebook', 'item') {
            opacity: 1;
        }

        @include checked-input('instagram', 'item') {
            opacity: 1;
        }

        @include checked-input('linkedin', 'item') {
            opacity: 1;
        }

        @include checked-input('googleplus', 'item') {
            opacity: 1;
        }

        @include checked-input('twitter', 'item') {
            opacity: 1;
        }

        &:checked~.social-list__row .social-list__label_hide {
            visibility: visible;
            opacity: 1;
        }

        @include checked-input('fasebook', 'url-item') {
            transform: translateX(0);
            opacity: 1;
        }

        @include checked-input('instagram', 'url-item') {
            transform: translateX(0);
            opacity: 1;
        }

        @include checked-input('linkedin', 'url-item') {
            transform: translateX(0);
            opacity: 1;
        }

        @include checked-input('googleplus', 'url-item') {
            transform: translateX(0);
            opacity: 1;
        }

        @include checked-input('twitter', 'url-item') {
            transform: translateX(0);
            opacity: 1;
        }

    }

    &__row {}

    &__label {
        @extend .label;

        &_hide {
            visibility: hidden;
            opacity: 0;
            transition: all .5s ease-in-out;
        }
    }

    &__list-name {}

    &__item {
        @extend .input-group;
        margin-bottom: 5px;
        opacity: .3;
        transition: opacity .5s ease-in-out;

        &:hover {
            opacity: .7;
        }

        &_left {
            flex-direction: row-reverse;
        }

        &_fasebook {}

        &_instagram {}

        &_linkedin {}

        &_googleplus {}

        &_twitter {}
    }

    &__label-item {
        @extend .input-text;
        background-color: $white-color;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__icon {}

    &__url-list {
        overflow: hidden;
    }

    &__url-item {
        margin-bottom: 5px;
        transform: translateX(-100%);
        opacity: 0;
        transition: all .5s ease-in-out;

        &_fasebook {}

        &_instagram {}

        &_linkedin {}

        &_googleplus {}

        &_twitter {}
    }

    &__input-group {
        position: relative;
    }
}
