@include grid();

.page {
    font-family: $main-font;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    // background-color: $main-color;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 $default-gap;
}

.header {
    border: 1px solid $gray-3-color;
}

.btn {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: $main-color;
    color: $white-color;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
