@include font-face($main-font-name, 'lato-v20-latin-regular');
@include font-face($additional-font-name, 'red-hat-display-v7-latin-regular');

@include grid();

.page {
    font-family: $main-font;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 $default-gap;
}
