.footer {
    background-color: $lightgray-1-color;
    margin-top: 25px;
    padding-bottom: 25px;
    
    &_wrapper {
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media ('sm') {
            padding: 15px;
           
        }
        @include media ('xs') {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__container {
    }
}
.up{
    position: relative;
    top: -16px;
    right: -50%;
    background-color: $white-color;
    padding: 3px 20px;
    //overflow: hidden;
    border-radius: 0 0 100% 100%;
    height: 31px;
    width: 3px;

    &::before{
        content: '';
        display: block;
        width: 15px;
        height: 10px;
        right: 98%;
        position: absolute;
        top: 40%;
        clip-path: polygon(100% 0%,100% 100%, 99% 97%, 95% 80%, 93% 75%, 90% 68%, 80% 55%, 50% 25%, 25% 10%, 0 0);
        background-color: $white-color;
    }

    &::after{
        content: '';
        display: block;
        width: 15px;
        height: 10px;
        right: -32%;
        top: 39%;
        position: absolute;
        clip-path: polygon(100% 0%,100% 100%, 99% 97%, 95% 80%, 93% 75%, 90% 68%, 80% 55%, 50% 25%, 25% 10%, 0 0);
        transform: scale(-1, 1);
        background-color: $white-color;
    }

    @include media ('sm'){
        right: -48%;
    }
    @include media ('xs'){
        right: -44%;
    }
}

.copyright {
}
.copy{
    font-size: 18px;
}
.small {

    &_font {
    }
}
.footer-social {
}
.social {
}
.facebook {
}
.social-icon {
}
.git {
}
.twitter {
}
.linkedin {
}

.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
}

.top {
    transform: rotate(-135deg);
}
.arrow-position{
    position: relative;
    padding-right: 25px;
}
.location-arrow{
    position: absolute;
    top: -19px;
    right: 15%;
}
.arrow-top{
    position: fixed;
    top: 6px;
    right: 41%; 
    padding: 1px 10px;
}

