@font-face {
    font-family: $main-font-name;
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/roboto-mono-v21-latin-regular.woff2') format('woff2'),
        url('../fonts/roboto-mono-v21-latin-regular.woff') format('woff');
}

.page {
    font-family: $main-font-name, Arial, Helvetica, sans-serif;
    font-size: $base-font-size;
    font-style: normal;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    color: $main-font-color;

    &__header {}

    &__main {}

    &__footer {}
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: $default-gap;

    &__row {}
}

.row {
    margin: 0 -($default-gap);

    &__col {}
}

[class*="col_"] {
    padding: 0 $default-gap;
    box-sizing: border-box;
}

.col_1 {
    width: calc(100% / 12 *1);
}

.col_2 {
    width: calc(100% / 12 *2);
}

.col_3 {
    width: calc(100% / 12 *3);
}

.col_4 {
    width: calc(100% / 12 *4);
}

.col_5 {
    width: calc(100% / 12 *5);
}

.col_6 {
    width: 50%;
}

.col_7 {
    width: calc(100% / 12 *7);
}

.col_8 {
    width: calc(100% / 12 *8);
}

.col_9 {
    width: calc(100% / 12 *9);
}

.col_10 {
    width: calc(100% / 12 *10);
}

.col_11 {
    width: calc(100% / 12 *11);
}

.col_12 {
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    color: $main-font-color;
}
h1{
    font-size: 24px;
    font-weight: 400;
    font-style: normal;  
}
h2{
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
}

img{
    max-width: 100%;
}

.img_hero{
    width: 100%;
    height: auto;
}
.small_font{
    font-size: 12px;
    color: $add-font-color;
}

