%sub-menu-arrow {
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-bottom: 1px solid $gray-6-color;
        border-right: 1px solid $gray-6-color;
        position: absolute;
        right: 10px;
        top: 45%;
        transform: rotate(-45deg) translateY(-50%);
        transition: transform .5s ease-in-out;
        transform-origin: top;
    }
}

.menu-wrapper {
    display: flex;
    justify-content: flex-end;
}

.menu {
    display: flex;

    &__item {
        position: relative;

        &:hover {
            .menu__link {
                background-color: rgba($main-color, .25);

                &::before {
                    transform: rotate(45deg) translateY(-50%);
                }

                &::after {
                    transform: translateY(0);
                }
            }

            &>.menu__sub-menu {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__link {
        display: block;
        padding: 15px 35px;
        transition: background-color .5s ease-in-out;
        position: relative;
        overflow: hidden;
        color: $gray-8-color;
        text-decoration: none;
        text-transform: uppercase;

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 5px;
            background-color: $main-color;
            transform: translateY(100%);
            transition: transform .5s ease-in-out;
        }
    }

    &__sub-menu {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease-in-out;

        &+.menu__link {
            @extend %sub-menu-arrow;
        }
    }
}

.sub-menu {
    border: 1px solid $gray-3-color;
    border-top: none;

    &__item {
        position: relative;

        &:hover {
            &>.sub-menu__link {
                background-color: rgba($main-color, .25);

                &::before {
                    transform: rotate(45deg) translateY(-50%);
                }
            }

            .sub-menu__sub-menu {
                opacity: 1;
                visibility: visible;
            }
        }

        &:not(:last-child) {
            border-bottom: 1px solid $gray-3-color;
        }
    }

    &__link {
        padding: 10px 15px;
        display: block;
        color: $gray-8-color;
        text-decoration: none;
        text-transform: uppercase;
        transition: background-color .5s ease-in-out;
    }

    &__sub-menu {
        @extend .menu__sub-menu;
        border-top: 1px solid $gray-3-color;

        &+.sub-menu__link {
            @extend %sub-menu-arrow;
        }
    }

    &_right {
        left: 100%;
        top: -1px;
        width: 100%;
    }
}
