.nav {
    display: flex;
    flex-wrap: wrap;

    @include media(md) {
        justify-content: center;
    }

    &__logo {
        align-self: center;
        position: relative;
        top: 3px;

        @include media(md) {
            width: 100%;
            margin-bottom: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__menu {
        flex-grow: 1;
    }

    &__search {
        @include media(md) {
            width: 100%;
        }
    }
}

.logo {
    &__img {
        width: 98px;
        height: 19px;
        fill: $primary-1;
    }
}

.menu {
    @include list-reset;
    display: flex;
    justify-content: flex-end;
    height: 40px;
    margin-right: 78px;

    @include media(md) {
        display: block;
        height: auto;
        box-sizing: border-box;
        padding-top: 48px;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;
        background-color: $white;
        margin: 0;
    }

    &__item {
        box-sizing: border-box;
        padding: 0 24px;
        position: relative;
    }

    &__link {
        @include link-reset;
        color: $secondary-dark;
        display: block;
        line-height: $lh-m;
        height: 100%;
        box-sizing: border-box;
        border-bottom: 2px solid transparent;
        @include transition(all);

        &_active {
            color: $primary-1;
            border-bottom: 2px solid $secondary-dark;
           
        }

        &:hover {
            @extend .menu__link_active;
        }
    }
}

.search {
    position: relative;

    &__field {
        @include input-reset;
        width: 256px;
        height: 40px;
        box-sizing: border-box;
        border-radius: 3px;
        background-color: $secondary-light;
        padding: 13px 40px 13px 14px;
        font-size: $fs-s;
        line-height: 1em;

        @include media(md) {
            width: 100%;
        }

        &::placeholder {
            color: $primary-1;
        }

        &:focus {
            outline: none;
        }
    }

    &__btn {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 40px;
    height: 40px;
    background-color: $accent;
    border-radius: 3px;

    &__img {
        width: 16px;
        height: 16px;
        fill: $primary-3;
    }

    &:active {
        background-color: $active-color;
    }
}

.sub-menu {
    border: 1px solid $active-color;
    background-color: $white;
    position: absolute;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    @include transition(opacity);

    & & {
        top: -1px;
        left: 100%;
    }

    .more_active + &   
     {
        opacity: 1;
        visibility: visible;
    }

    &__item {
        position: relative;
    }

    &__link {
        display: block;
        padding: 9px 18px;
        line-height: 1em;
        text-decoration: none;
        color: $active-color;
        white-space: nowrap;
        @include transition(background-color);
        @include transition(color);

        &:hover {
            @extend .more_active;
        }
    }
}



.more {
    position: relative;

    &__icon {
        width: 11px;
        height: 6px;
        fill: currentColor;
        transform-origin: center;


        .sub-menu & {
            transform: rotate(-90deg);
            position: absolute;
            top: 14.5px;
            right: 3px;
        }
    }

    &_active {
        .sub-menu & {
            background-color: $light-grey;
            color: $darkest-grey;
        }
        
    }
}

// responsive menu

.menu-open {
    width: 40px;
    height: 32px;
    display: none;
    justify-content: center;
    align-items: center;

    @include media(md) {
        display: flex;
    }

    &__btn {
        width: 24px;
        height: 15px;
        stroke: currentColor;
    }
}
