/* .triangle {
    content: div;
    border: 20px solid transparent; border-left: 20px solid green;
} */

.header-wrapper {
    /* border: 1px solid red; */
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

.header-wrapper div,
.header-col-1 img,
.menu-list .menu-item,
.header-col-3 .butn-block {
    display: inline-block;
    font-size: 0;
}

.menu-item .menu-link,
.header-col-3 .butn-block a {
    padding: 0 20px;
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.header-col-1 {
    width: 30%;
}

.header-col-1 img {
    padding: 0 3px;
}

.header-col-2 {
    width: 45%;
    text-align: right;
}

.header-col-3 {
    width: 220px;
}

.header-col-3 div {
    margin: 0 10px;
}

.butn-block:last-of-type {
    background-color: #FF9900;
}

.butn-block:first-child {
    border: 1px solid #BCD0E5;
}

.butn-block:last-of-type a {
    color: white;
}

.butn-block>a {
    line-height: 3;
}

.butn-block {
    border-radius: 4px;
}

.section-wrapper {
    width: 80%;
    margin: 0 auto;
}

.section-col-1,
.section-col-2 {
    display: inline-block;
    width: 45%;
    border: 1px solid red;
}

.section-col-2 {}
