.blog {
    display: grid;
    grid-template-columns: 1fr;

    gap: 30px;

    @include mob-media('sm') {
        grid-template-columns: repeat (6, 1fr);
        // grid-template-rows: repeat (3, 1fr);
    }

    &__article {
        padding-top: $default-gap;
        padding-bottom: $default-gap;

        //@media screen and (min-width: 769px) {}
        @include mob-media('sm') {
            &:first-child(1) {
                grid-column: 1 / -1;
                grid-template-columns: 250px 1fr;
                grid-template-rows: max-content 1fr max-content;

                .blog-article__img {
                    grid-column: 1;
                    grid-row: 1 / -1;
                    height: 100%;

                }

                .blog-article__title {
                    grid-column: 2;
                    grid-row: 1;
                }

                .blog-article__text {
                    grid-column: 2;
                    grid-row: 2;

                }

                .blog-article__btn {
                    grid-column: 2;
                    grid-row: 3;
                }

            }

            &:first-child(2),
            &:first-child(3) {
                grid-column: span 3;
            }

            &:first-child(n+4) {
                grid-column: span 2;

                @include media('md') {
                    grid-column: span 3;
                }
            }
        }
    }
}

.blog-article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 330px max-content 1fr max-content;
    gap: 20px;

    &__img {
        width: 100%;
        height: 330px;
        object-fit: cover;
        object-position: center;
        // font-size: 50px;
        // font-weight: bold;
    }



    &__title {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px;
    }



    &__btn {
        align-self: end;
        justify-self: end;
    }
}
