html,
body,
.container {
    height: 100%;
}

.grid {
    display: grid;
    height: 100%;
    // grid-template-columns: 250px 250px;
    // grid-template-columns: minmax(50px, 250px) minmax(50px, 250px);
    // grid-template-columns: repeat(6, 50px);
    // grid-template-columns: repeat(2, 250px 50px);
    // grid-template-columns: 1fr 2fr;
    // grid-template-columns: 250px 1fr;
    // grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    // grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    // grid-template-columns: max-content max-content;
    // grid-template-columns: min-content 1fr;
    // grid-template-columns: minmax(auto, 300px) 50px;
    // grid-template-columns: minmax(300px, auto) 50px 50px;
    // grid-template-columns: repeat(4, 1fr);

    grid-template-rows: 250px 250px;
    grid-template-rows: minmax(250px, auto) 1fr minmax(250px, auto);

    grid-auto-rows: 150px;
    // column-gap: 50px;
    // row-gap: 30px;

    gap: 30px 50px;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(3, 150px);

    // justify-content: center;
    // align-content: center;

    // justify-items: end;
    // align-items: end;


    &__item {
        padding: 15px;
        border: 1px solid yellow;
        background-color: blue;

        &:nth-child(1) {
            grid-column-start: 1;
            // grid-column-end: 5;
            // grid-column-end: -2;
            // grid-column-start: span 3;
            grid-column: 2 / span 2;
            grid-row: 2 / -1;
        }
    }
}
