* {
    transition: all .1s ease-in;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 30px;
}

.main,
.header {
    width: 100%;
}

h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.header-text {
    color: #FF8984;
    text-align: center;
    width: 60%;
    background-color: #4A4F56;
    margin: 0 auto;
    padding: 30px 0;
}

.header-text p {
    margin: 0;
    padding: 0;

}

.form-wrapper {
    width: 60%;
    margin: 0 auto;
    background-color: #3B3F45;
    padding: 30px 100px 0;
    box-sizing: border-box;
}

[type="checkbox"] {
    margin: 20px 16px 20px 20px;
    transform: scale(2);
    border-radius: 0%;
}

.menu-item {
    display: flex;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.form-wrapper>.form>.menu-item:nth-child(odd) {
    background-color: #88839E;
}

.form-wrapper>.form>.menu-item:nth-child(2n) {
    background-color: #7A7593;
}

.form-wrapper>.form>.menu-item:hover {
    border-top-color: white;
    border-bottom-color: white;
    background-color: #625E77;
    text-shadow: 0 0 15px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5);
}

.form-wrapper>.form>.menu-item:active {
    color: #FF8984;
    text-decoration: underline;
    text-decoration-color: #FF8984;
}

input:checked {
    color: #9B96AC;
    text-decoration: unset;
}

.form-wrapper>.form>.menu-item>.item-text {
    font-size: 18px;
}

.form-wrapper>.form>.menu-item>.item-text>span {
    font-size: 11px;
    vertical-align: middle;
}

.menu-item {
    color: white;
}

.form .menu-item input:checked+.item-text {
    color: #9B96AC;
    text-decoration: line-through;
}

.form-wrapper>.form>.menu-item>.item-text>span::before {
    content: '(';
}

.form-wrapper>.form>.menu-item>.item-text>span::after {
    content: ')';
}

button {
    margin: 50px auto;
    width: 534px;
    height: 45px;
    background-color: #4A4F56;
    border: none;
    color: #FF8984;
    display: block;
}

.button-wrapper {
    padding-bottom: 10px;
}

button::after {
    content: ' :)';
}

button:hover {
    border: 3px solid white;
}

button:active {
    color: red;
    transform: scale(1.2);
}
