*{transition: all .1s ease-in;}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 20px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body > header{
    background-color: #4A4F56;
}
header,
main {
    width: 793px;
}
header + main {
    background-color: #3B3F45;
}
h1 {
    font-size: 24px;
}
h1 + h2 {
    font-size: 16px;
}
h1,
h2 {
    margin: 20px 0 15px 0;
    color: #FF8984;
    text-align: center;
}

.form-wrapper {
    width: 534px;
    margin: 20px 130px 135px 130px;
}

[type="checkbox"] {
    margin: 20px 16px 20px 20px;
    transform: scale(2);
    border-radius: 0%;
}
.menu-item {
    display: flex;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.form-wrapper>.form>.menu-item:nth-child(odd){
    background-color: #88839E;
}
.form-wrapper>.form>.menu-item:nth-child(2n){
    background-color: #7A7593;
}
.form-wrapper>.form>.menu-item:hover{
    border-top-color:white;
    border-bottom-color:white;
    background-color: #625E77;
    /* padding: 4px; убрать*/ 
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
}
.form-wrapper>.form>.menu-item:active{
    color:#FF8984;
    text-decoration: underline;
    text-decoration-color: #FF8984;
}
input:checked{
    color:#9B96AC;
    text-decoration: unset;
}
.form-wrapper>.form>.menu-item>.item-text{
    font-size: 18px;
}
.form-wrapper>.form>.menu-item>.item-text>span{
    font-size: 11px;
    vertical-align: middle;
}
.menu-item {
    color:white;
}
.form .menu-item input:checked+.item-text{
    color: #9B96AC;
    text-decoration: line-through;
}
.form-wrapper>.form>.menu-item>.item-text>span::before{
    content: '(';
}
.form-wrapper>.form>.menu-item>.item-text>span::after{
    content: ')';
}

button{
    margin-top: 45px;
    width: 534px;
    height: 45px;
    background-color: #4A4F56;
    border: none;
    color: #FF8984;
}
button::after{
    content:' :)';
}
button:hover {
    border: 3px solid white;
}
button:active{
    color:red;
    transform: scale(1.2);
}
