@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/roboto-v29-latin-ext_latin-regular.woff2') format('woff2'),
        url('../fonts/roboto-v29-latin-ext_latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('../fonts/roboto-v29-latin-ext_latin-900.woff2') format('woff2'),
        url('../fonts/roboto-v29-latin-ext_latin-900.woff') format('woff');
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #000;
}

.container {
    padding: 0 15px;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

[class*="col-"] {
    padding: 0 15px;
    box-sizing: border-box;
}

.col-1 {
    width: calc(100% / 12);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: 100%;
}

.header {
    margin-bottom: 60px;
}

.header__menu-wrapper {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    z-index: 500;
}

.menu__link,
.section-menu__link {
    text-decoration: none;
    color: #000;
}

.menu__link {
    font-size: 20px;
}

.section-menu {
    display: flex;
    align-items: flex-start;
    position: sticky;
    top: 62px;
    bottom: 0;
    z-index: 500;
    height: 100%;
}

.section-menu__list {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
}

.section-block__text {
    line-height: 48px;

}

.section-menu__link {
    text-transform: uppercase;
    font-weight: 900;
}

.section-menu__link::after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 1px;
    left: 0;
    display: block;
    clear: both;
    background-color: #BFBFBF;
    z-index: -10;
}


.section-menu__item:nth-child(-n+3) {
    padding-bottom: 92px;
}

.section-block__title {
    padding-bottom: 30px;
}

.section-block__title::before {
    content: '';
    width: 81px;
    height: 12px;
    background-color: #000;
    display: block;
    margin: 15px 0;
}

.section-block__wrapper {
    padding-bottom: 50px;
}

.react-list {
    list-style-type: "+";
}

.react-list__item {
    padding-left: 20px;
}

span {
    text-decoration: underline;
}

.main {
    position: relative;
}

.background {
    position: fixed;
    top: 170px;
    right: 0;
    z-index: -1;
}

.footer-menu__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
    height: 100%;
}

.footer-menu__item {
    width: 360px;
    height: 200px;
    background-color: #E6E6E6;
    border-radius: 5px;
}

[class*="bg_"] {
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

[class*="bg_"]:hover {
    background-color: #000;
}


.bg_1 {
    background-image: url(../img/f_1_b.png);
}

.bg_1:hover {
    background-image: url(../img/f_1_w.png);
}

.bg_2 {
    background-image: url(../img/f_2_b.png);
}

.bg_2:hover {
    background-image: url(../img/f_2_w.png);
}

.bg_3 {
    background-image: url(../img/f_3_b.png);
}

.bg_3:hover {
    background-image: url(../img/f_3_w.png);
}

.bg_4 {
    background-image: url(../img/f_4_b.png);
}

.bg_4:hover {
    background-image: url(../img/f_4_w.png);
}

.bg_5 {
    background-image: url(../img/f_5_b.png);
}

.bg_5:hover {
    background-image: url(../img/f_5_w.png);
}

.bg_6 {
    background-image: url(../img/f_6_b.png);
}

.bg_6:hover {
    background-image: url(../img/f_6_w.png);
}

.bg_7 {
    background-image: url(../img/f_7_b.png);
}

.bg_7:hover {
    background-image: url(../img/f_7_w.png);
}

.bg_8 {
    background-image: url(../img/f_8_b.png);
}

.bg_8:hover {
    background-image: url(../img/f_8_w.png);
}
