.container {
    max-width: 1200px;
}

img {
    display: block;
}

.blog-list {
    list-style-type: none;
}

.blog-article__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.blog-article__wrapper>* {
    order: 3;
}

.blog-article__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-grow: 1;
}

.blog-article__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.blog-article__img {
    order: 1;
}

.blog-article__title {
    min-height: 78px;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    order: 3;
}

.blog-article__title+.blog-article__text {
    margin-top: 42px;
}

.blog-article__date {
    align-self: flex-end;
    margin-bottom: 15px;
    order: 2;
}

.blog-article__text {
    font-size: 12px;
    margin-bottom: 10px;
    text-align: justify;
}

.blog-article__autor-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
}

.blog-article__avatar {
    margin-bottom: 5px;
}

.blog-article__autor {
    text-align: center;
}

.blog-article__image-wrapper {
    position: relative;
    overflow: hidden;
}

.blog-article__title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 15px;
    background-color: rgba(0, 0, 0, .75);
    margin-bottom: 0;
    transform: translateY(100%);
    transition: all .5s ease-in-out;
}

.blog-list__item:hover .blog-article__title {
    transform: translateY(0);
}
