%logo {
    display: flex;
    width: 185px;
    padding-top: 5px;
}

%block {
    padding: 39px 0;
}

%title {
    font-weight: bold;
    font-size: 36px;
    color: $text-brown-color;
}

%text {
    font-size: 18px;
    font-weight: 400;
}

%info-wrapper {
    display: flex;
    flex-direction: column;

    &__title {
        font-weight: bold;
        font-size: 36px;
        color: $text-brown-color;
    }

    &__text {
        font-size: 18px;
        font-weight: 400;
    }
}

%icon {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 19px;
    text-align: center;

    &::after {
        width: 10px;
        display: inline;
        vertical-align: -($default-gap);
    }
}

%btn {
    font-weight: bold;
    color: $btn-tx2-color;
    background-color: $btn-bg-color;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 13.5px 10px;
    display: inline-block;
    min-width: 175px;
    text-align: center;
    text-decoration: none;

    &_min {
        padding: 10px 5px;
        min-width: 110px;
        font-weight: 500;
    }

    &_secondary {
        background-color: $white-color;
        border: 1px solid $btn-br-color;
        color: $btn-tx1-color;
        margin-left: 30px;
    }
}

%text-top {
    margin-top: 0;
}

%strong-bottom {
    margin-bottom: 25px;
}
