@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/poppins-v15-latin-ext_latin-regular.woff2') format('woff2'),
        url('../fonts/poppins-v15-latin-ext_latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/poppins-v15-latin-ext_latin-500.woff2') format('woff2'),
        url('../fonts/poppins-v15-latin-ext_latin-500.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/poppins-v15-latin-ext_latin-600.woff2') format('woff2'),
        url('../fonts/poppins-v15-latin-ext_latin-600.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/poppins-v15-latin-ext_latin-700.woff2') format('woff2'),
        url('../fonts/poppins-v15-latin-ext_latin-700.woff') format('woff');
}

.flex {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: space-between;
    /* align-items: stretch; */
}

.flex>div {
    /* width: 120px; */
    /* height: 100px; */
    padding: 15px;
    box-sizing: border-box;
    background-color: gray;
}

.flex>div:nth-child(2) {
    height: 250px;
    align-self: center;
}

.flex>div:nth-child(3) {
    height: 300px;
    /* flex-grow: 3; */
}

.flex>div:last-child {
    /* flex-grow: 1; */
    margin-left: auto;
}

.flex>div::after {
    content: '11111';
    width: 100%;
    height: 100%;
    display: block;
    background-color: black;
    color: white;
}

.img {
    max-width: 100%;
}

.page {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #BCD0E5;
    padding: 35px 0 30px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

[class*="col-"] {
    padding: 0 15px;
    box-sizing: border-box;
}

.col-1 {
    width: calc(100% / 12);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: 100%;
}

.clear::after,
.row::after {
    content: '';
    display: block;
    clear: both;
}

.logo {
    width: 185px;
    padding-top: 5px;
}

.logo__link {
    display: block;
}

.logo__image {
    display: block;
}

.btn {
    font-weight: bold;
    color: white;
    background-color: #FF9900;
    border-radius: 4px;
    padding: 13.5px 10px;
    display: inline-block;
    min-width: 175px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}

.btn_min {
    padding: 10px 5px;
    min-width: 110px;
    font-weight: 500;
}

.btn_secondary {
    background-color: #fff;
    border: 1px solid #BCD0E5;
    color: #173A56;
    margin-left: 30px;
}

.menu-wrapper {}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu__item {
    margin-right: 15px;
}

.menu__item:last-child {
    margin: 0;
}

.menu__link {
    display: inline-block;
    color: #2F281E;
    text-decoration: none;
}

.form {
    display: flex;
}

.form input {
    flex-grow: 1;
}

.product-list {
    list-style-type: none;
}

.product {}

.product-list__item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.product__name {
    font-size: 18px;
}

.product__info {
    display: flex;
    justify-content: space-between;
}

.product__qty {
    width: 85px;
}

.qty__wrapper {
    display: flex;
}

.qty__inptu-qty {
    width: 20px;
    text-align: center;
}

.qty__inptu-qty::-webkit-outer-spin-button,
.qty__inptu-qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.qty__inptu-qty[type=number] {
    -moz-appearance: textfield;
}

.label {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.label__item {
    width: 32px;
    margin-right: 12px;
}

.label__image {
    width: 100%;
    display: block;
}

.btn_green {
    background-color: #009F36;
    border: none;
}

.text-hidden>span {
    width: 1px;
    height: 1px;
    display: block;
    overflow: hidden;
    position: absolute;
}

.product__action {
    display: flex;
}

.product__add-to-cart {
    min-width: unset;
    height: 40px;
}

.product__add-to-whish-list,
.product__add-to-compare {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    min-width: unset;
}

.product__action>button:not(:last-child) {
    margin-right: 6px;
}
