.post-block {

		&__post-wrapper {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            border-bottom: 1px solid $gray-basic;
		}

		&__item {
            
		}

		&__text {
            font-size: 12px;
            padding: 10px;
		}
        
		&__icon {
            padding: 10px;
            font-size: 0;
            display: inline-block;
            margin-left: 20px;
            border-radius: 4px;
            @include media('xs'){
                margin-left: 10px;
                margin-bottom: 5px;
            }
            &:hover {
                transform: scale(1.5);
                transform-origin: center;
                transition: all 1s ease-out;
                &:nth-child(1){
                    background-color: #3b5998;
                }
                &:nth-child(2){
                    background-color: $gray-basic;
                }
                &:nth-child(3){
                    background-color: #00acee;
                }
                &:nth-child(4){
                    background-color: #3f729b;
                }
            }
		}
        &__content-wrapper {
            display: flex;
        }
}

.stamp {
    background-color: $gray-basic;
    padding: 10px;
    border-radius: 4px;
    margin-right: 5px;
    &:hover {
        background-color: $gray-neutral-color;
        transition: all 1s ease-out;
    }
    
    @include media('xs'){
        margin-right: 20px;
    }
}
.share {
    flex-grow: 1;
    text-align: right;
    &:hover {
        transform: scale(2);
        transform-origin: center;
        transition: all 1s ease-out;
        text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);;
    }
}
.share,
.stamp,
.post-block__icon {
    cursor: pointer;
}

