@mixin clir {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin font-face($font-family, $font-file-name, $font-weight: 400, $font-style: normal) {
    @font-face {
        font-family: $font-family;
        font-style: $font-style;
        font-weight: $font-weight;
        src: local(''),
        url('#{$path-fonts}#{$font-file-name}.woff2') format('woff2'),
        url('#{$path-fonts}#{$font-file-name}.woff') format('woff');
    }
}

@mixin test {
    display: inline;
    @content;
}
