$violet-color: #9C69E2;
$darkblue-color: #212353;
$gray-color: #4B5D68;
$pink-color: #F063B8;
$lightgreen-color: #68C9BA;
$blue-color: #2D9CDB;
$white-color: #fff;
$background-color: #F6FAFD;

$block-1-features:$lightgreen-color;
$block-2-features:$violet-color;
$block-3-features:$pink-color;
$block-4-features:$darkblue-color;
$btn-hero:$violet-color;
$btn-footer:$pink-color;
$btn-request:$white-color;
$font-color:$gray-color;

$default-border: 1px solid;

$container-width: 1248px;
$default-gap: 15px;

$font-follback: Arial,
Helvetica,
sans-serif;
$main-font-name: 'Work Sans';
$path-fonts: '../fonts/';

$main-font: $main-font-name,
$font-follback;
$base-font-size: 18px;
$base-line-height: 30px;
$base-font-weight: 500;

$breack-points: ("lg": 1200px,
    "md": 992px,
    "sm": 768px,
    "xs": 576px);
