@mixin font-face($font-family, $font-file-name, $font-weight: 400, $font-style: normal) {
    @font-face {
        font-family: $font-family;
        font-style: $font-style;
        font-weight: $font-weight;
        src: local(''),
        url('#{$path-fonts}#{$font-file-name}.woff2') format('woff2'),
        url('#{$path-fonts}#{$font-file-name}.woff') format('woff');
    }
}

@mixin placheolder($color-placeholder) {
    &::-webkit-input-placeholder {
        color: $color-placeholder;
    }

    &::-moz-placeholder {
        color: $color-placeholder;
    }

    &:-ms-input-placeholder {
        color: $color-placeholder;
    }

    &:-moz-placeholder {
        color: $color-placeholder;
    }
}

@mixin visuality-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin checked-input($social-name, $element-name) {
    &[name="#{$social-name}"]:checked {
        &~.social-list__row .social-list__#{$element-name}_#{$social-name} {
            @content;
        }
    }
}

@mixin btn-design($color-first, $color-second) {
    &_primary {
        background-color: $color-first;
        color: $color-second;

        &:hover {
            background-color: $color-second;
            color: $color-first;
            border: 1px solid $color-first;
            text-shadow: 1px 1px 2px $color-first;
            animation: bounce_up 1s;
        }
    }

    &_secondary {
        background-color: $color-second;
        color: $color-first;

        &:hover {
            background-color: $color-first;
            color: $color-second;
            border: 1px solid $color-second;
            text-shadow: 1px 1px 2px $color-second;
            animation: bounce_down 1s;
        }
    }
}

@mixin icon-color-required($class-name, $fill-color) {
    &.#{$class-name}:valid {
        &+.icon>.icon__img {
            fill: $fill-color;
        }
    }
}

@mixin checked-input-effects($class-name, $fill-color) {
    &[name="#{$class-name}"]:checked {
        &~.social-list__row .social-list__item_#{$class-name} .icon__img {
            fill: $fill-color;
            max-width: math.div($form-input-height, 1.8);
            max-height: math.div($form-input-height, 1.8);
            transition: all .2s ease-in-out;
        }

        &~.social-list__row .social-list__item_#{$class-name} .icon {
            visibility: visible;
        }

    }
}

@mixin grid($count: 12) {
    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 (-$default-gap);
    }

    [class*="col-"] {
        padding: 0 $default-gap;
        box-sizing: border-box;
    }

    @for $i from 1 through $count {
        $width: math.div(100%, 12) * $i;

        .col-#{$i} {
            max-width: $width;
            width: 100%;
            flex-basis: $width;
        }
    }

    @each $beack-point,
    $beack-point-value in $beack-points {
        @media screen and (max-width: $beack-point-value) {
            @for $i from 1 through $count {
                $width: math.div(100%, 12) * $i;

                .col-#{$beack-point}-#{$i} {
                    max-width: $width;
                    width: 100%;
                    flex-basis: $width;
                }
            }
        }
    }
}

@mixin media($point) {
    @media screen and (max-width: map-get($beack-points, $point)) {
        @content;
    }
}

@mixin mobile-first($point) {
    @media screen and (min-width: (map-get($beack-points, $point) + 1px)) {
        @content;
    }
}
