.container {
    max-width: $main-width;
}

.page {
    #{$ft}family: $font-family;
    #{$ft}size: 16px;
    #{$ft}weight: 500;
    #{$ft}-style: normal;
    line-height: $default-line-height;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: $main-width;
    padding: 0 $default-gap;
    margin: 0 auto;
}

.row {
    display: flex;
}

[class*="col-"] {
    padding: 0 $default-gap;
    box-sizing: $default-box-sizing;
}

.col {
    padding: 0 $default-gap;
    box-sizing: $default-box-sizing;

}

.col-1 {
    width: $col-1;
}

.col-2 {
    width: $col-2;
}

.col-3 {
    width: $col-3;
}

.col-4 {
    width: $col-4;
}

.col-5 {
    width: $col-5;
}

.col-6 {
    width: $col-6;
}

.col-7 {
    width: $col-7;
}

.col-8 {
    width: $col-8;
}

.col-9 {
    width: $col-9;
}

.col-10 {
    width: $col-10;
}

.col-11 {
    width: $col-11;
}

.col-12 {
    width: $col-12;
}

.logo__image {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.title {
    #{$ft}weight: bold;
    #{$ft}size: 36px;
    color: $color-orange-dark;
}

.title {
    margin-top: 0;
}

.text-center {
    text-align: center;
}

.btn {
    #{$ft}weight: bold;
    color: $color-white;
    background-color: $color-orange;
    border-radius: 4px;
    padding: 13.5px 10px;
    display: inline-block;
    min-width: 175px;
    text-align: center;
    text-decoration: none;
    box-sizing: $default-box-sizing;
}

.btn_min {
    padding: 10px 5px;
    min-width: 110px;
    font-weight: 500;
}

.btn_secondary {
    background-color: $color-white;
    border: $border-color;
    color: $color-dark-blue;
    margin-left: 30px;
}

.link::before {
    content: url(#{$path-img}05.svg);
    width: 20px;
    height: 17px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: -3px;
}

.icon {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 19px;
    text-align: center;
}

.icon::after {
    width: 10px;
    display: inline;
    vertical-align: (-$default-gap);

}
