.header {
    border-bottom: $border-color;
    padding: 35px 0 30px;

    &__content {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }
}



.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__item {
        margin-right: $default-gap;
    }

    &__item:last-child {
        margin: 0;
    }

    &__link {
        display: inline-block;
        color: $color-orange-dark;
    }
}
