.hero {
    padding: 35px 0 98px;
}

.main-title {
    #{$ft}weight: bold;
    #{$ft}size: 44px;
    line-height: 1.2;
    color: $color-orange-dark;
    margin-bottom: 35px;
}

.info-wrapper__main-title {
    margin-top: 65px;
}

.info-wrapper__btn-wrapper {
    padding-top: 29px;
}

.hero .text {
    #{$ft}size: 18px;
    #{$ft}weight: 400;
}

.hero .link {
    margin-left: 50px;
    #{$ft}weight: 600;
    color: $color-orange;
}
