.managers-list {
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.managers-list__item {
    display: flex;
    align-items: center;
}

.managers-list__icon,
.manager-list__text {
    display: inline-block;
}

.managers-list__icon {
    margin-right: 30px;

}

.manager-list__text {
    width: 80%;
}
