*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Cuprum', sans-serif;
    
}
.header{
    padding: 40px 0 40px;
    text-align: center;
    background-image: url(/images/bg1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.languages{
    text-align: left;
    font-size: 18px;
    color: #fff;
}
.languages a{
    text-decoration: none;
    color: #fff;
    transition: color 500ms ease-in-out;
}
.languages a:hover{
    color:rgb(113, 206, 183);
}
.languages a.lang-active{
    color:rgb(113, 206, 183);
  }
p{
    font-family: 'Bad Script', cursive;
    font-size: 22px;
}
h1{
    font-size: 40px;
    color: aliceblue;
    margin-bottom: 20px;
}
.portret{
    width: 18%;
    border-radius: 50%;
    border:5px solid #fff;
    margin-bottom: 20px;
}
.tell, .mail{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    transition: color 500ms ease-in-out;

}
.tell:hover, .mail:hover{
    color:rgb(113, 206, 183) ;
}
.tell{
    padding-right: 20px;
}
.container{
    margin: 0 auto;
    max-width: 1300px;
}
.title{
    text-align: center;
    font-family: 'Cuprum', sans-serif;
}
.socials{
    margin-bottom: 20px;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    border:2px solid #fff;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    transition: all 500ms ease-in-out;
}
.btn:hover{
    background-color:rgb(113, 206, 183);
    border-color: rgb(113, 206, 183);
}
nav .btn:not(:last-child){
    margin-right: 20px;
}
.about, .works, .education,.hobbis, .traveling{
    padding: 50px 0;
    font-size: 20px;
}
ul{
    margin-left: 30px;
    font-size: 22px;
    font-family: 'Bad Script', cursive;
}
ol{
    margin-left: 30px;
    font-family: 'Bad Script', cursive;
    font-size: 22px;
}
h2{
    font-size: 35px;
    margin-bottom: 20px;
}
.education,.hobbis{
    background: linear-gradient(45deg, #0f6b6e, #8de9b6);
    color:#fff;
}
.traveling p{
    margin-bottom: 20px;
}
.slider{
    width: 100%;
    display: flex;
  }
  .slide{
    position: relative;
    height: 500px;
    cursor: pointer;
    flex: 3;
    margin:0 5px;
    color:rgb(0, 0, 0);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;
    
  }
  .slide h3{
    position: absolute;
    bottom: 0px;
    left:0px;
    border-top:1px solid #000;
    padding: 13px 18px;
    font-size: 18px;
    margin: 0;
    opacity: 0;
    background-color: #fff;
    width: 100%;
  }
  
  .slide.active{
    flex: 10;
    box-shadow: -3px 4px 29px black;
   
    border-left:2px solid #000;
    border-bottom:2px solid #000;
    
  }
  .slide.active h3{
    opacity: 1;
    transition: opacity 0.2s ease-in 0.4s;
    font-family: 'Bad Script', cursive;
  }
.slide1{
    background: url('/images/tr3.jpg');
}
.slide2{
    background: url('/images/tr2.jpg');
}
.slide3{
    background: url('/images/tr1.jpg');
}
.slide4{
    background: url('/images/tr4.jpg');
}
