.table {
    width: 100%;
    border: solid 1px #bdbaba;

}

.table__row {
    height: 57px;
}

.table__coll {
    text-align: center;
}

.table__coll:nth-child(4),
.table__coll:nth-child(5),
.table__coll:nth-child(6) {
    text-align: right;
}
