.user-answer {
    padding-top: 15px;
    border-top: 1px solid $border-color;
    position: relative;
    padding-left:  94px;
    @include media('sm'){
        margin-left: 37px;
        padding-left: 0;
    }
    
    &__avatar {
        position: absolute;
        top: 25px;
        left: 0;
        text-align: center;
        img{
            max-width: 70px;
            border-radius:$border-radius;
            @include media('sm'){
                max-width: 38px;
            }
        }
        a{
            display: block;
            font-size: 10px;
            color:$text-color;
            line-height: 1px;
        }
        @include media('sm'){
            max-width: 38px;
        }
    }

    &__data {
        margin-bottom: 10px;
        @include media('sm'){
            margin-left: 46px;  
            margin-bottom: 32px; 
           }
    }

    &__name {
        font-size: 19px;
        margin-right: 18px;
        @include media('sm'){
            display: block;
             margin-bottom: -7px;
             margin-right: 0;
             font-size: 14px;
         }
    }

    &__pubtime {
        color:$second-text-color;
        @include media('sm'){
            font-size: 13px;
            display: block;
           }
    }

    &__message {
        margin-bottom: 14px;
        img{
            vertical-align: sub;
        }
    }

    &__footer {
        padding-bottom: 10px;
      
        display: flex;
        justify-content: space-between;
    }

    &__reply {
        color:$second-text-color;
        display: inline-block;
        transition: color .4s ease-in-out;
        &:hover svg{
            path{
                fill:$text-color;
            }
        }
        &:hover{
            color:$text-color;
        }
    }

    &__reactions {
        display: flex;
        align-items: center;
    }

    &__like {
        margin-right: 5px;
        display: flex;
        &:hover svg{
            transform: translateY(-3px);
        }
        .active{
            path{
                fill:$text-color;
            }
        }

    }

    &__dislike {
        display: flex;
        align-self: end;
        transform: translateY(-2px);
        &:hover svg{
            transform: translateY(2px);
        }
        .active{
            path{
                fill:$text-color;
            }
        }
    }
}
.answer-like {

    &__counter {
        font-size: 10px;
        color:#000;
        margin-right: 3px;
        transform: translateY(6px);
    }
}
.answer-dislike {

    &__counter {
        font-size: 10px;
        color:#000;
        margin-left: 2px;
        transform: translateY(-2px);

    }
}
.answer-message__person{
    background-color: #C4C4C4;
    border-radius:5px;
}
