body * {
    box-sizing: border-box;
}
img {
    display: block;
}
body {
    font: 400 16px "Poppins", sans-serif;
    color: #2F281E;
    padding: 0 145px;
    margin: 0 auto;
}
.main-nav {

}
.main-nav .block {
    
}
.block {
    display: block;
}
.main-nav ul {
    list-style: none;
    font-size: 14px;
}
.main-nav a {
    text-decoration: none;
    color: inherit;
}
/* Typography */
h2 {
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
    max-width: 540px;
    margin-bottom: 54px;
}
.align-center {
    text-align: center;
}

.btn {
    font-weight: 600;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    line-height: 1em;
    padding: 15px 30px;
}
.btn-orange {
    background-color: #FF9900;
    color: #ffffff;
}
/* Flex Box */
.flex-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}
.flex-clmn-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.flex-2 {
    flex: 1 1 50%;
}
.flex-4 {
    flex: 1 1 240px;
}

.awesome-icon {
    font: 400 16px "FontAwesome";
    color: #ffffff;
    border-radius: 16%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.color-1 {
    background-color: #7752BE;
}
.color-2 {
    background-color: #FAB005;
}
.color-3 {
    background-color: #F03E3D;
}
.color-4 {
    background-color: #4DADF7;
}
