@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'),
         url('../fonts/poppins-v15-latin-regular.woff') format('woff');
}
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/poppins-v15-latin-500.woff2') format('woff2'),
         url('../fonts/poppins-v15-latin-500.woff') format('woff'); 
}
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/poppins-v15-latin-600.woff2') 
         url('../fonts/poppins-v15-latin-600.woff') 
}
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/poppins-v15-latin-700.woff2') format('woff2'), 
         url('../fonts/poppins-v15-latin-700.woff') format('woff');
}
body {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 145px;
    font: 500 16px/26px Poppins;
    box-sizing: border-box;
    overflow-x: hidden;
}
.float-rt {
    float: right;
}
.float-lt {
    float: left;
}
.overflow {
    overflow: hidden;
}
h1,
h2,
h3 {
    color: #2F281E;
}
h1,
h2 {
    font-weight: 700;
    line-height: 54px;
}
h1 {
    font-size: 44px;
    margin-bottom: 30px;
}
h2 {
  margin-bottom: 22px;
  font-size: 36px;  
  max-width: 540px;
}
h3 {
    margin-bottom: 13px;
    font-size: 22px;
    line-height: 33px;
    font-weight: 600;
}
.main-nav {
    margin: 20px 0 30px;
    height: 78px;
}
.main-nav a {
    text-decoration: none;
}
.logo {
    display: block;
    margin-top: 22px;
}
.logo img {
    display: block;
    width: 185px;
    height: auto;
    object-fit: contain;
}
.nav-btn {
    margin-left: 30px;
    margin-top: 15px;
    font-size: 0;
}
.nav-btn a:first-child {
    margin-right: 14px;
}
.btn {
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 11px 24px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}
.btn-white {
    color: #173A56;
    border-color: #BCD0E5;
}
.btn-orange {
    background-color: #FF9900;
    border-color: #FF9900;
    color: #ffffff;
    text-decoration: none;
}
.nav-btn .btn-white,
.nav-btn .btn-orange {
    font-weight: 600;
}
.main-nav ul {
    text-align: right;
    padding: 0;
    margin: 0;
    font-size: 0;
}
.main-nav ul li {
    font-size: 14px;
    line-height: 78px;
    display: inline-block;
}
.main-nav ul li a {
    color: #2F281E;
    padding: 10px;
}
header {
    margin-bottom: 112px;
}
header div:first-child {
    margin-right: -16px;
}
header div:first-child img {
    display: block;
    width: 100%;
    height: auto;
}
header div:last-child {
    padding-top: 83px;
    padding-right: 64px;
}
.intro {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.header-btn {
    margin-top: 45px;
}
.link-orange {
    display: inline-block;
    margin-left: 30px;
    color: #FF9900;
    font-weight: 600;
    position: relative;
}
.link-orange::before {
    content: "";
    display: inline-block;
    margin-right: 0.5em;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 17px solid #FF9900;
    border-right: 1px solid transparent;
    position: relative;
    top: 4px;
}
.tools {
    text-align: center;
    padding-bottom: 90px;
    position: relative;
}
.tools::after {
    content: "";
    display: block;
    width: 100vw;
    height: 27.86vw;
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: -1;
    transform: translateX(-50vw);
    background: url(../images/bg.png) center bottom no-repeat;
    background-size: contain; 
}
.tools h2 {
    margin: 0 auto;
}
.card {
    margin-top: 54px;
    margin-bottom: 34px;
}
.card::after {
    content: "";
    display: block;
    clear: both;
}
.card div {
    width: calc(25% - 33px);
    text-align: left;
}
.card div:not(:last-child) {
    margin-right: 44px;
}
.card .awesome-icon {
    width: 50px;
    height: 50px;
    font-family: FontAwesome;
    line-height: 50px;
    color: #ffffff;
    text-align: center;
    border-radius: 4px;
}
.color-1 { 
    background-color: #7752BE;
}
.color-2 {
    background-color: #FAB005 ;
}
.color-3 {
    background-color: #F03E3D;
}
.color-4 {
    background-color: #4DADF7;
}
