.hero {
    padding: 35px 0 98px;

    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 44px;
        line-height: 1.2;
        margin-bottom: 32px;
        color: $text-color;
        margin-top: 64px;
    }

    &__text {
        font-size: 18px;
        font-weight: 400;
    }

    &__link {
        margin-left: 50px;
        font-weight: 600;
        color: $main-color;

        &::before {
            content: '';
            width: 20px;
            height: 17px;
            background: url(../images/triangle.svg) center no-repeat;
            display: inline-block;
            margin-right: 10px;
            vertical-align: -3px;
        }
    }
}
