// Colors
$main-color: #FF9900;
$border-color: #BCD0E5;
$text-color :#2F281E;

// Global Style
$main-width: 1110px;
$default-gap: 15px;

// Fonts
$main-font-size:16px;

$default-font-name: 'Poppins';
$path-fonts: '../fonts/';
