.process-wrapper {
    background-color: $gray-dark-color;
    background-size: cover;
}

.process {
    &__scheme {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 340px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text {
        color: $main-text-color;
        font-family: $second-font-name;
        font-size: 36px;
        line-height: $base-line-height;
    }

    &__img {
        width: 60px;
        padding-bottom: 40px;
    }
}
