@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../font/roboto-v29-latin-regular.woff2') format('woff2'),
         url('../font/roboto-v29-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../font/roboto-v29-latin-700.woff2') format('woff2'), 
         url('../font/roboto-v29-latin-700.woff') format('woff');
}


body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-align: center;
    max-width: 799px;
    height: 520px;
    background-color: #3399CC;
    border: 16px solid #2B81AC;
    margin: 0 auto;
}

.header{
    margin: 40px;
}

.title{
    font-size: 30px;
}

.list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 0;
    max-width: 539px;
    height: 331px;
    margin: auto;
}

li .temperature{
    display: block;
}


.list:hover li:not(li:hover){
    opacity: 0.4;
}

li{
    border: 3px solid #fff;
    flex:auto;
    height: 80px;
    text-align:center;
    margin: -3px -3px 0 0;
    line-height: 21px;
    font-size: 16px;
}

.item__Lisbon{
    width: 49%;
}

.item__Paris{
    width: 24%;
    background-color: #33CCCC;
}

.item__Belgrade{
    width: 24%;
    background-color: #996699;
}

.item__Venice{
    width: 24%;
    background-color: #C24747;
}

.item__Tel-Aviv{
    width: 24%;
    background-color: #E2674A;
}

.item__Kyiv{
    width: 24%;
    background-color: #FFCC66;
}

.item_Amsterdam{
    width: 24%;
    background-color: #99CC99;
}

.item__Tokyo{
    width: 24%;
    background-color: #669999;
}

.item__San-Francisco{
    width: 49%;
    background-color: #CC6699;
}

.item__Sydney{
    width: 24%;
    background-color: #339966;
}

.item__New-Delhi{
    width: 100%;
    background-color: #666699;
}

.temperature{
    font-weight: 400;
    opacity: 0.8;
}

.footer{
    margin: 40px;
}
