* {
    transition: all .1s ease-in;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 18px;
}

body {
    background-color: #3B3F45;
}

header {
    text-align: center;
    background-color: #4A4F56;
    padding: 19px 0 12px;
    color: #FF8984;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

p {
    font-size: 16px;
}

.wrapper {
    max-width: 534px;
    margin: 0 auto;
    padding: 0 10px;
}

.form-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin-bottom: 45px;
}

ul li {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    position: relative;
    line-height: 21px;
}

ul li:nth-child(even) {
    background-color: #7A7593;

}

ul li:nth-child(odd) {
    background-color: #88839E;
}

ul li label {
    padding: 11px 0px 13px 12px;
    display: block;
    cursor: pointer;
    color: #fff;

}

ul li label:active {
    background-color: red;
}

ul li:hover {
    background-color: #625E77;
    border-color: #fff;
}

form>ul+button {
    display: block;
    text-align: center;
    color: #FF8984;
    padding: 12px 0;
    background-color: #4A4F56;
    width: 100%;
    border: none;
    cursor: pointer;
}

form>ul+button:hover {
    background-color: #4f545c;
}

input[type="checkbox"] {
    height: 19px;
    display: inline-block;
    width: 19px;
    transform: translateY(11px);
    margin-right: 16px;
    float: left;
    margin-left: 12px;
}

input[type="checkbox"]:active ul li {
    background-color: #fff;
}

form ul li input:checked~label,
form ul li input:checked~label>span {
    color: #9B96AC;
    text-decoration: line-through;
}

span {
    font-size: 11px;
    transform: translateY(-2px);
    display: inline-block;
}

span::before {
    content: "(";
}

span::after {
    content: ")";
}


form {
    margin-bottom: 70px;
}

footer {
    text-align: center;
    color: #fff;
    font-size: 14px;
}
