@include font-face("Poppins", poppins-v15-latin-regular);
@include font-face("Poppins", poppins-v15-latin-500, 500);
@include font-face("Poppins", poppins-v15-latin-600, 600);
@include font-face("Poppins", poppins-v15-latin-700, 700);
@include grid();

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: $main-width;
    margin: 0 auto;
    padding: 0 $default-gap;
}

.row {
    margin: 0 (-$default-gap);
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"] {
    padding: 0 $default-gap;
    box-sizing: border-box;
}

.col-12 {
    width: 100%;
}

.col-6 {
    width: 50%;
}

.col-3 {
    width: calc(100% / 12 *3);
}

.page {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: $main-font-size;
    line-height: 1.625;
    font-style: normal;
}

.btn {
    box-sizing: border-box;
    font-weight: bold;
    color: #fff;
    background-color: #FF9900;
    border-radius: 4px;
    padding: 13.5px 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    min-width: 175px;

    @include media('sm') {
        display: block;
    }
}

.btn:hover {
    text-decoration: underline;
}

.title {
    font-size: 36px;
    font-weight: bold;

}
