.open {
    margin: 0 auto;
    display: block;
}

.open,
.close {
    background: white;
    color: rgb(14, 0, 136);
    font-weight: bold;
    padding: 5px 15px;
    transition: all 0.3s;
    border-radius: 5px;

    &:hover {
        box-shadow: 0px -5px 0 rgb(14, 0, 136) inset;
    }
}

.modal__window {
    background-color: white;
    max-width: 400px;
    width: 100%;
    padding: 15px;
    animation: modalAnim .5s ease-out;
}


.modal__wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    justify-content: center;
    align-items: center;

}

@keyframes modalAnim {
    0% {
        transform: translateX(-100%);
    }

    5% {
        transform: translateX(-95%);
    }

    10% {
        transform: translateX(-90%);
    }

    15% {
        transform: translateX(-85%);
    }

    20% {
        transform: translateX(-80%);
    }

    25% {
        transform: translateX(-75%);
    }
}
