.hero-block {

    &__title {
        font-size: 44px;
        padding-top: 158px;
        line-height: 52px;
        padding-bottom: 24px;
    }

    &__title-alt {
        font-style: italic;
        color: $color-green;
    }

    &__text {
        padding-bottom: 48px;
    }

    &__btn {
        margin-bottom: 163px;
    }

    &__btn-link {

        &::before {
            width: 112px;
        }
    }
}
