.trading-block {
    display: flex;
    align-items: center;
    position: relative;

    &__img-wrapper {}

    &__trading-form {
        position: absolute;
        top: 15%;
        left: 5%;
        background-color: $color-dark-blue-v2;
        width: 240px;
        height: 70%;
    }

    &__trading-text-block {
        background-color: rgba(255, 255, 255, .9);
    }
}

.trading-form {
    border-radius: 12px;
    color: $white-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 19px;
    font-size: 12px;

    &__lvl-4,
    &__lvl-5 {
        opacity: 0.3;

        & input {
            border-radius: 4px;
        }
    }

    &__lvl-1,
    &__lvl-4 {


        // &::after {
        //     content: "";
        //     width: 80%;
        //     position: absolute;
        //     border-bottom: 1px solid white;
        //     left: 19px;
        //     padding-top: 35px;
        // }
    }

}

.lvl-1 {

    &__link {
        text-decoration: none;
        color: $white-color;
        letter-spacing: 2px;
    }

    &__icon {

        margin-right: 13px;
    }

    &__link,
    &__icon {
        vertical-align: middle;
    }
}

.lvl-2 {
    width: 100%;

    &__title {
        opacity: 0.3;

    }

    &__value {
        display: inline;
        font-size: 20px;
        opacity: 0.3;
        font-style: italic;
        font-weight: 600;
    }

    &__alt-value {
        font-size: 56px;
        opacity: 1;
        font-style: normal;
        font-weight: 700;
        color: $white-color;
        line-height: 0.5;

    }
}

.alt {
    &_title {}
}

.lvl-3 {
    display: flex;
    position: relative;

    &__title {
        opacity: 0.3;

    }

    &__wrapper {
        padding-top: 8px;

        &:nth-child(1) {
            padding-right: 10px;
        }
    }

    &__input {
        width: 94px;
        height: 28px;
        background-color: rgba(255, 255, 255, .15);
        border: 1px solid rgba(0, 0, 0, 0.05);
        border-radius: 4px;


        &::placeholder {
            padding-left: 3px;
            color: $white-color;
        }
    }

    &__pholder-1,
    &__pholder-2 {
        display: block;
        position: absolute;
        top: 42px;
    }

    &__pholder-1 {
        left: 73px;
    }

    &__pholder-2 {
        right: 8px;
    }
}



.lvl-4 {
    width: 90%;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__input {

        width: 51px;
        height: 21px;
        opacity: 0.15;
    }
}

.lvl-5 {
    &__input {
        @include visuality-hidden;

    }

    &__label {
        padding-right: $default-gap;

        &::after {
            content: url("../../images/circle-radio-inside.svg");
            width: 20px;
            height: 20px;
            margin-right: 10px;
            // position: absolute;
            // top: 0;
            // left: $default-gap + 7.5px;
        }


        &::before {
            content: url("../../images/circle-radio.svg");
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

    }
}

.trading-text-block {
    display: flex;
    height: 85%;
    margin-left: -175px;
    flex-wrap: wrap;
    width: 50%;

    &__text-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 40%;
        padding-left: 50px;
    }

    &__trading-title {
        font-size: 24px;
        padding-bottom: $default-gap - 1px;

    }

    &__text {
        font-size: 18px;
        padding-bottom: 5px;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $color-gray;
        width: 80%;
        height: 35%;
    }

    &__btn-link {
        text-align: center;

        &::before {
            left: 35%;
            width: 36%;
        }
    }
}
