@mixin font-face($font-family, $font-file-name, $font-weight: 400, $font-style: normal) {
    @font-face {
        font-family: $font-family;
        font-style: $font-style;
        font-weight: $font-weight;
        src: local(''),
        url('#{$path-fonts}#{$font-file-name}.woff2') format('woff2'),
        url('#{$path-fonts}#{$font-file-name}.woff') format('woff');
    }
}

@mixin placheolder($color-placeholder) {
    &::-webkit-input-placeholder {
        color: $color-placeholder;
    }

    &::-moz-placeholder {
        color: $color-placeholder;
    }

    &:-ms-input-placeholder {
        color: $color-placeholder;
    }

    &:-moz-placeholder {
        color: $color-placeholder;
    }
}

@mixin visuality-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin checked-input($social-name, $element-name) {
    &[name="#{$social-name}"]:checked {
        &~.social-list__row .social-list__#{$element-name}_#{$social-name} {
            @content;
        }
    }
}
