.blog {
    &__article {
        padding-top: $default-gap;
        padding-bottom: $default-gap;

        //@media screen and (min-width: 769px) {}

        @include mob-media('sm') {
            &:first-child {
                .blog-article {
                    display: flex;
                }

                .blog-article__img {
                    width: 40%;
                    margin-bottom: 0;
                }

                .blog-article__info {
                    padding-left: 50px;
                    width: 60%;
                    box-sizing: border-box;
                }
            }
        }
    }
}

.blog-article {
    &__img {
        width: 100%;
        height: 330px;
        object-fit: cover;
        object-position: center;
        // font-size: 50px;
        // font-weight: bold;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    &__text {
        flex-grow: 1;
        margin-bottom: 20px;
    }

    &__btn {
        align-self: flex-end;
    }
}
