body {
    border: 1px black;
    border-style: groove;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    line-height: 1.5;
    padding: 10px;
}

img {
    position: absolute;
    right: 370px;
    top: 360px;
    width: 120px;
    padding-right: 10px;
    }

nav{
    text-align: left;
}    

a:hover {
    color:red;
}

a {
    text-decoration: none; 
    color: black;
}

ul{
    list-style-type: none; 
}
