@include font-face($main-font-name, 'poppins-v15-latin-ext_latin-regular');
@include font-face($main-font-name, 'poppins-v15-latin-ext_latin-500', 500);
@include font-face($main-font-name, 'poppins-v15-latin-ext_latin-600', 600);
@include font-face($main-font-name, 'poppins-v15-latin-ext_latin-700', 700);

@include grid();

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 $default-gap;
}

.page {
    font-family: $main-font;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    font-style: normal;
    line-height: $default-line-height;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: $container-width;
    padding: 0 $default-gap;
    margin: 0 auto;
}

.logo__image {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.title {
    font-weight: bold;
    font-size: 36px;
    color: $color-orange-dark;
}

.title {
    margin-top: 0;
}

.text-center {
    text-align: center;
}

.btn {
    font-weight: bold;
    color: $color-white;
    background-color: $color-orange;
    border-radius: 4px;
    padding: 13.5px 10px;
    display: inline-block;
    min-width: 175px;
    text-align: center;
    text-decoration: none;
    box-sizing: $default-box-sizing;
}

.btn_min {
    padding: 10px 5px;
    min-width: 110px;
    font-weight: 500;
}

.btn_secondary {
    background-color: $color-white;
    border: $border-color;
    color: $color-dark-blue;
    margin-left: 30px;

    @include media('sm') {
        margin-left: 0;
    }
}

.link::before {
    content: url(#{$path-img}05.svg);
    width: 20px;
    height: 17px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: -3px;
}

.icon {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 19px;
    text-align: center;
}

.icon::after {
    width: 10px;
    display: inline;
    vertical-align: (-$default-gap);

}
